# Base de datos PostgreSQL
POSTGRES_DB=nombre_de_la_base_de_datos
POSTGRES_USER=usuario_de_postgres
POSTGRES_PASSWORD=contraseña_segura

# Samba
SAMBA_USER=usuario_samba
SAMBA_PASSWORD=contraseña_samba
